@font-face {
	src: url(fonts/ROMANUS.otf);
	font-family: Romanus;
}

@font-face {
	src: url(fonts/Handwriting.ttf);
	font-family: Handwritten;
}

* {
	margin: 0;
	padding: 0;
	font-family: Romanus;
}

body {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/plant1.jpg);
	background-size: cover;
	height: 100vh;
}

/* navigation bar */
nav {
	width: 60%;
	height: 70px;
	background-color: #002600;
	float: right;

}

ul li {
	list-style-type: none;
	display: inline-block;
	float: left;
	line-height: 70px;
}

ul li a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 30px;
	padding: 0 20px;
	letter-spacing: 2px;
	transition: 0.6s ease;
}

ul li a:hover {
	background-color: white;
	color: #002600;
}

nav ul li.active a {
	background-color: white;
	color: #002600;
}

/* marquee */
.marquee {
	width: 35%;
	height: 50px;
	position: relative;
	left: 35px;
	top: 7px;
	border-top: 5px double #BDFFB7;
	border-bottom: 5px double #BDFFB7;
	border-radius: 6px;

}

.marquee-text {
	font-size: 20px;
	font-family: Verdana;
	line-height: 50px;
	color: white;
	text-shadow: 2px 2px 0px #002600;
	text-transform: uppercase;
}

/* Mic's World */

.my-world {
	width: 300px;
	height: 150px;
	position: relative;
	top: 200px;
	left: 200px;
}

.my-world h1{
	font-size: 70px;
	text-align: center;
	color: #fff;
	letter-spacing: 10px;
}

.my-world h6 {
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
	font-family: Droid Sans;
	font-size: 16px;
	font-style: italic;
}

.col {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 500px;
	position: relative;
	left: 50%;
	bottom: 100px;
}

.card {
	width: 200px;
	height: 230px;
	/*display: inline-block;*/
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover;
	transition: transform 0.5s;
}

.c1 {
	background-image: url(img/rain.jpg);
}
.c2 {
	background-image: url(img/spicyfood.jpg);
}
.c3 {
	background-image: url(img/purple.png);
}
.c4 {
	background-image: url(img/sunset.jpg);
}

.card:hover {
	transform: translateY(-10px);
}

.hide {
	display: none;
}

.c1:hover .hide {
	display: block;
	text-shadow: 1px 1px 1px #fff;
	font-size: 20px;
	font-family: Droid Sans;
	color: #002600;
}

.c2:hover .hide {
	display: block;
	text-shadow: 1px 1px 1px #fff;
	font-size: 20px;
	font-family: Droid Sans;
	color: #002600;
}

.c3:hover .hide {
	display: block;
	text-shadow: 1px 1px 1px #fff;
	font-size: 20px;
	font-family: Droid Sans;
	color: #002600;
}

.c4:hover .hide {
	display: block;
	text-shadow: 1px 1px 1px #fff;
	font-size: 20px;
	font-family: Droid Sans;
	color: #002600;
}

h5 {
	color: #fff;
	text-shadow: 1px 1px 2px #002600;
	font-size: 20px;
	letter-spacing: 4px;
}

/*.card p {
	text-shadow: 0 0 15px #000;
	font-size: 8px;
	font-family: Droid Sans;
	font-size: 12px;
	color: #002600
}*/